/* Ini File CSS */

/* Pengaturan posisi judul */
.main-header {
    text-align: center;
}

.font {
    font-family: system-ui;
}

/* Pengaturan posisi isi konten */
main {
    display: flex;
    gap: 32px;
    padding: 50px;
    place-content: center;
}

/* Pengaturan align paragraf */
p {
    text-align: justify;
}

/* Pengaturan posisi field input */
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

/* Pengaturan jarak pada kolom input */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Pengaturan jarak border di form */
form {
    background-color: aliceblue;
    padding: 25px;
}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;
}

.button-position {
    display: flex;
    justify-content: flex-end;
}

/* Pengaturan warna button */
.bg-hitung {
    background-color: lightskyblue;
}

.bg-reset {
    background-color: gainsboro;
}

/* Pengaturan jarak tulisan Fitur Unggulan */
.fit-unggulan {
    margin-top: 10px;
    margin-bottom: 5px;
}

.unggulan {
    margin-top: 8px;
}

/* Pengaturan posisi tabel Integrasi BMI */
td {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Pengaturan warna baris di tabel */
th {
    background-color: aquamarine;
}
.tr-ganjil {
    background-color: floralwhite;
}
.tr-genap {
    background-color: lavenderblush;
}

/* Pengaturan tabel interpretasi BMI */
table {
    display: flex;
    justify-content: center;
}

/* Pengaturan lebar isi konten */
.konten {
    width: 500px;
}

/* Pengaturan posisi judul dan nominal hasil perhitungan */
.result-section {
    padding: 16px;
    text-align: center;
    background-color: aliceblue;
}

/* Pengaturan posisi konten bagian kanan (Hasil) */
#hasil-bmi {                    /* jika dari "id" menggunakan simbol # sebelum nama id nya */
    font-size: xxx-large;
    font-family: math;
}

/* Pengaturan posisi footer */
footer {
    text-align: center;
}

/* Responsif website */
/* @media only screen and (max-width: 600px) {

} */
